
<head>
    <link href="../static/css/style_register.css" rel="stylesheet" type="text/css">
    <title>GTS-Registration</title>
</head>




<div class="box vertical-center">
    <div class="container"> 

            <div class="row vertical-center">
                    <div class="col-sm">

                        <h1>Create your GTS account </h1>

                <p style="font-style: italic;">GTS website is by invitation only.
                        </p>
                    </div>
                <div class="col-sm">

                    <div class="card-body">
                        <form class=" orm form-horizontal" method="POST" role="form">
                            <div class="form-group">
                                {# This hidden_tag is a CSRF security feature. #}
                                {{ form.hidden_tag() }}

                                {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                                {% if form.email.errors %}
                                    {% for error in form.email.errors %}
                                    {{ error }}
                                    {% endfor %}
                                    {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                                {% if form.username.errors %}
                                    {% for error in form.username.errors %}
                                    {{ error }}
                                    {% endfor %}
                                    {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.password(class="form-control form-control-lg",placeholder="Password") }}
                            </div>
                            <div class="form-group">
                                {{ form.pass_confirm(class="form-control form-control-lg",placeholder="Confirm Password") }}
                            </div>

                            
                            <div class="form-group">

                            {{ form.submit(class="btn btn-outline-dark btn-block") }}
                        </div>

                        </form>
                    </div>
                </div>
            </div>

        </body>
    </div>
</div>
